.demo-page {
  width: 1000px;
  margin: 0 auto;

  &__caption {
    padding: 50px 0 50px 0;
  }
}

.caption__text {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.caption__title {
  font-size: 72px;
  font-weight: 800;
}

.caption__subtitle {
  font-size: 36px;
  font-weight: 300;
}
