@import 'variables.pcss';
@import "normalize.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

html,
body {
  font-size: var(--text-500);
  background-color: #fafafa;
  font-family: "proxima-nova",sans-serif;
  color: #585F6F;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #585F6F;
}

.poster-hidden {
  transition: all 0.5s;
  opacity: 0 !important;
}

.poster-none {
  display: none !important;
}
